{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

<div class="dataset-item row {{ item_class or "dataset-item" }}">
  {% block package_item_content %}
    
  {% endblock %}
    <div class="col-md-9">
        <p class="dataset-date"><span class="tag-icon tag-geoespacial"></span><span>Actualización: <strong>{{h.format_display_date(package.metadata_modified, format_date='%Y/%m/%d')}}</strong></span></p>
        <h3>{% if package.private %}
          <span class="dataset-private label label-inverse">
            <i class="icon-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="label label-important">{{ _('Deleted') }}</span>
        {% endif %}
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
        </h3>
        {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
        {% endif %}
        {% if notes %}
          <p>{{ notes|urlize }}</p>
        {% endif %}
    </div>

    <div class="col-md-2 col-md-offset-1">
        {% if package.organization %}
          <p><strong>Instituci&oacute;n</strong></p>
          <p class="dependency"><strong>{{package.organization.title}}</strong></p>          
        {% endif %}
        <p>Formato</p>
        {% if package.resources and not hide_resources %}
            {% for resource in h.dict_list_reduce(package.resources, 'format') %}
              <span class="dataset-format" data-format="CSV">{{ resource }}</span>
              {#
              <li>
                <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
              </li>
              #}
            {% endfor %}
        {% endif %}
    </div>
</div>
