{% ckan_extends %}

{% block content %}
    {% block maintag %}<div role="main">{% endblock %}
        {% block main_content %}
          {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
              {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          {% endblock %}
          {% block toolbar %}
            <div class="toolbar breadcrumb-container">
               <div class="container-fluid">
                 <div class="row">
                   {% block breadcrumb %}
                     {% if self.breadcrumb_content() | trim %}
                        <div class="col-md-7">
                            <ul class="breadcrumb">
                              {% snippet 'snippets/home_breadcrumb_item.html' %}
                              {% block breadcrumb_content %}{% endblock %} 
                            </ul>
                        </div>
                        {# 
                       <ol class="breadcrumb">
                         {% snippet 'snippets/home_breadcrumb_item.html' %}
                         {% block breadcrumb_content %}{% endblock %}
                       </ol>
                        #}                   
                     {% endif %}
                    {% endblock %}
                     <div class="col-md-5">
                        <ul class="submenu">
                            <li><a href="/dataset">Todos los datos</a></li>
                            <li><a href="/organization">Instituciones</a></li>
                            <li><a href="/group">Grupos</a></li>
                        </ul>
                     </div>
                  </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            {% block title_content_mx %}{% endblock %}
                        </h1>
                        <div id="main-container">
                            <div class="row">
                                {% block secondary %}
                                    <div id="sidebar" class="col-md-3">
                                        {% block secondary_content %}{% endblock %}
                                    </div>
                                {% endblock %}
                                
                                {% block pre_primary %}{% endblock %}

                                <div id="content" class="col-md-9">
                                    {% block primary %}
                                        {% block primary_content %}
                                            {% block page_header %}
                                              <header class="module-content">
                                                {% if self.content_action() | trim %}
                                                  <div class="content_action" style="margin: -20px 0 10px 0;">
                                                    {% block content_action %}{% endblock %}
                                                  </div>
                                                {% endif %}
                                                <ul class="nav nav-tabs">
                                                  {% block content_primary_nav %}{% endblock %}                                                  
                                                </ul>
                                              </header>
                                            {% endblock %}
                                            {% if self.page_primary_action() | trim %}
                                                <div class="page_primary_action">
                                                 {% block page_primary_action %}{% endblock %}
                                                 </div>
                                            {% endif %}
                                            {% block primary_content_inner %}{% endblock %}
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
