{#
Display a grid of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}
<div class="row">
    <div class="col-md-12">
    {% for organization in organizations %}
      {% if loop.index == 1 or loop.index % 3 == 1%}
        <div class="row">
      {% endif %}
      {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index %}
      {% if loop.index is divisibleby 3 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>