{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
<div class="col-md-4">
    <div class="institution-item result-item">
        {% block image %}
        <a href="{{ url }}" style="display: block !important;"><img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" ></a>
        {% endblock %}
        {% block title %}
        <p><a href="{{ url }}"><strong>{{ organization.display_name }}</strong></a></p>         
        {% endblock %}

        {% block description %}
            {% if organization.description %}
                <p><a href="{{ url }}">{{ h.markdown_extract(organization.description, extract_length=80) }}</a></p>
            {% endif %}
        {% endblock %}
        
        {% block datasets %}
            {% if organization.packages %}
              <p class="datasets">{{ ungettext('{num} Dataset', '{num} Datasets', organization.packages).format(num=organization.packages) }}</p>
            {% else %}
              <p class="datasets">{{ _('0 Datasets') }}</p>
            {% endif %}
        {% endblock %}
    </div>
</div>
